<!DOCTYPE html>
<html>
    <head>
        <title>Email Subscriber List</title>
    </head>
    <body>
        <ul>
        <% emails.forEach((email)=>{ %>
            <li> <%= email %> </li>
        <% }) %>
        </ul>
        <a href="/">Add new subscriber</a>
    </body>
</html>